easydict
biopython
h5py
rich
matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
setuptools
tqdm
hydra-core
hydra-colorlog
pickle5
gensim
pyfaidx
einops
xgboost==2.0.3
timm
ninja
openpyxl
transformers
tensorboardX
torchmetrics
wandb>=0.12.10
pyrootutils
torcheval
requests
optuna
captum
PyQt5
sentencepiece
opencv-python==4.11.0.86